<?xml version="1.0"?>
<model>
  <name>FRC blue scorer</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Blue team</name>
    <email>caguero@osrfoundation.org</email>
  </author>

  <description>
    A robot for the 2016 FIRST Robotics Competition.
  </description>
</model>
