<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(env GAZEBO_MODEL_PATH):$(find blue_team)/models" />
  <arg name="model_name" default="basic_car"/>
  <!-- Spawn a robot into Gazebo -->
  <node name="node_blue_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find blue_team)/models/blue_1/model.sdf -sdf -x -1 -y  1 -z 0 -model blue_1" />
  <node name="node_blue_2" pkg="gazebo_ros" type="spawn_model" args="-file $(find blue_team)/models/blue_2/model.sdf -sdf -x -3 -y  1 -z 0.16 -model blue_2" />
  <node name="node_blue_3" pkg="gazebo_ros" type="spawn_model" args="-file $(find blue_team)/models/blue_3/model.sdf -sdf -x -1 -y -5 -z 0 -model blue_3" />

  <!-- Spawn cameras to view the world -->
  <include file="$(find blue_team)/launch/camera.launch">
    <arg name="name" value="camera1" />
    <arg name="joystick" value="joy1" />
  </include>
  <include file="$(find blue_team)/launch/camera.launch">
    <arg name="name" value="camera2" />
    <arg name="joystick" value="joy2" />
  </include>
  <include file="$(find blue_team)/launch/camera.launch">
    <arg name="name" value="camera3" />
    <arg name="joystick" value="joy3" />
  </include>
</launch>
